*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body input:hover{
    outline:1px solid #20AA47;
}



.ftr{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #051135;
}

.box{
    width: 300px;
    padding: 20px;
    background-color: #051135;
    /* background-color: green; */
}
.b-2{
    width: 320px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
a{
    text-decoration:  none;
    color: white;   
}

.b-1 p{
    margin-top: 0.9rem;
    line-height: 1.5;
}

p,a,li{
    color: white;
}

.b-3 li{
    text-transform: uppercase;
}
li{
    /* font-size: 1.2rem; */
    list-style: none;
    margin-top: 0.9rem;
}

.icons{
    margin-top: 4px;
    display: flex;
    gap: 15px;
}
.icons a i{
    color: #20AA47;
    font-size: 1.2rem;
    
}
.icons a{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #2A3453;
    padding: 6px;
}
.item-b-2{
    display: flex;
    gap: 10px;
}   
.item-b-2 i{
    width: 16px;
    height: 16px;
    padding: 0.5px;
    color: black;
    margin-top: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20AA47;
   
} 
 


.item-b-4{
    display: flex;
    gap: 10px;
    color: #20AA47;
}

.item-b-4 i{
    width: 20px;
    height: 20px;
    font-weight: bold;
    margin-top: 17px;
}
.ftr div a{
    text-decoration: none;
}
/* ********contact *********/



.contact-pg{
    width: 100%;
    /* background-color: red; */
}
.contact-fdiv {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-fdiv::before{
    content: '';
    background-image: url('bg\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    opacity: 0.3;

}





#contact-head{
    position: relative;
    color: black;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
} 


.contact-sdiv{
    width: 100%;
    display: flex;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #F4F8FD;

}

.contact-sdiv .left-vid{
    width: 50%;

}

.contact-sdiv .left-vid h1{
    font-size: 50px;
    font-weight: 700;
    color: #20AA4D;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 15px;
}
.contact-sdiv .right-form{
    width: 50%;
}


.getIntouch{
    color: #3A4268;
}

.sleft-img img{
    width: 100%;
    height: 350px;

}

.contact-sdiv input{
    height: 50px;
}
.contact-sdiv select{
    height: 50px;
}
/* universal as both contact/quote*/
body .msg{
    border: none;
    background-color: #F7BE00;
    color: #000000;
    font-weight: bold;
}
.msg i{
    width: 20px;
    height: 20px;
    border-radius: 4px;
    font-size: 18px;
    background-color: #20aa4d;
    padding: 4px;
}
.msg i:hover{
    background-color: #001457;
    color: white;
}

.contact-tdiv{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 40px;
    background-color: #DEE5EB;
    flex-wrap: wrap;
}

.contact-tdiv div a{
    display: flex;
    gap: 10px;
    /* align-items: flex-start; */
}


.contact-tdiv div i{
    font-size: 50px;
    margin-top: 20px;
    color: #20AA4D;
}

.contact-tdiv div h2{
    margin-top: 10px;
}
.contact-tdiv div[class="sec-1"],[class="sec-2"],[class="sec-3"] {
    background-color: #000E39;
    padding: 20px 40px;
    width: 360px;
}
.contact-tdiv div a{
    text-decoration: none;
}


@media (max-width: 812px) {
    .contact-tdiv{
        justify-content: flex-start;
    }
    .contact-tdiv div[class="sec-1"],[class="sec-2"],[class="sec-3"]{
        width: 100%;
        padding: 10px 40px;

    }
    .contact-sdiv{
        /* width: 100%; */
        flex-direction: column;
    }
    .contact-sdiv .right-form{
        width: 100%;
    }

    .contact-sdiv .left-vid{
        width: 100%;
    }   
}


/* GET A QUOTE */

.quote-fdiv{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.quote-fdiv::before{
    content: '';
    background: #0D0B19;
    background-size: cover;
    background-position: center;
    position: absolute;
    inset: 0;
    opacity: 0.2;
    z-index: -1;

}

.quote-fdiv h1{
    font-weight: 700;
    font-size: 60px;
    color: black;

}
.bar{
    width: 224px;
    height: 10px;
    background-color: #FF6700;
}
.quote-sdiv{
    width: 100%;
    padding: 20px;
    background-color: #DEE5EB;
}
.quote-sdiv div[class="head-div"]{
    padding-bottom: 10px;
    position: relative;
}
.quote-sdiv div h2{
    text-align: center;
    color: #072788;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
}

.quote-sdiv div[class="head-div"]::after{
    content: '';
    width: 300px;
    height: 2.5px;
    background-color: #FF6700;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%,-50%);
}

.quote-sdiv div h2 span{
    color: #20AA4D;
}
.quote-sdiv .form-div{
    width: 100%;
}

.quote-sdiv .form-div input{
    height: 51px;
}

.quote-sdiv .form-div select{
    height: 51px;
}

.quote-sdiv .form-div .msg{
    margin-top: 20px;
    margin-bottom: 50px;
}

.quote-sdiv .form-div .frow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.quote-sdiv .form-div .frow .margin{
    margin-left: 10px;
}

@media (max-width:766px) {
    /* .quote-sdiv .form-div .form-row div:nth-child(2){
        margin-right: ;
        background-color: red;
    } */
    .quote-sdiv .form-div .form-row div input{
        height: 51px;
    }
    .quote-sdiv .form-div .frow{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .quote-sdiv .form-div .frow div:nth-child(2){

        margin-top: 20px;
        margin-left: -2px;
        width: 100%;
    }
}
