@media screen and (max-width: 2560px) and (min-width: 2000px)
{
    .navbar div
    {
        padding-left: 10%;
        padding-right: 10%;
    }
} 




@media screen and (max-width: 425px) 
{
  .nav li
  {
    display: none;
  }

  .mobile-nav
  {
    display: block;
  }

  .menu-btn
  {
    display: block;
  }
}