@media screen and (max-width: 2560px) and (min-width: 2000px)
{
    .navbar div
    {
        padding-left: 10%;
        padding-right: 10%;
    }

    .service-box .box
    {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    .dropmenu
    {
      padding-left: 0;
      padding-right: 0;
    }

    .box
    {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    .contact-info .container-flex
    {
      padding-left: 10%;
      padding-right: 10%;
    }

    .packages .row
    {
      padding-left: 10%;
      padding-right: 10%;
    }

    .testimonials .container-fluid
    {
      padding-left: 10%;
      padding-right: 10%;
    }

    #contact-page .row
    {
      padding-left: 0;
      padding-right: 0;
    }

    #contact-page .contact-text 
    {
      padding-left: 15%;
      padding-right: 15%;
    }

    .contact .container-flex
    {
      padding-left: 15%;
      padding-right: 15%;
    }

    
    .contact form input,
    .contact form select,
    .contact form textarea
    {
      width: 65%;
    }

    .about .content
    {
      margin-left: 10%;
      margin-right: 10%;
    }

    .cores .core .content    
    {
      margin-left: 0;
      margin-right: 0;

    }
    
    .cores .core
    {
      margin-left: 10%;
      margin-right: 10%;
    }

    .clients-page 
    {
      padding-left: 15%;
      padding-right: 15%;
    }

    .about .box .inner-content:nth-child(1)
    {
      padding-left: 25%;
      padding-right: 25%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .about .container-flex:nth-child(1)
    {
      padding-left: 15%;
      padding-right: 15%;
    }

    .about .content 
    {
      margin: 0;
    }
} 


@media screen and (max-width: 1440px) and (min-width: 1142px)
{
  .box
  {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (max-width: 768px)
{
  .carousel .carousel-inner
  {
    height: 32rem;
  }

  .service-box .row
  {
    flex-direction: column;
    margin-top: 0;
  }

  .testimonials h5
  {
    padding-left: 0;
  }

  .about .container-flex:nth-child(1)
  {
    flex-direction: column;
  }

  .about .container-flex:nth-child(2)
  {
    margin-top: 2rem;
  }

  .service-box .box
  {
    display: inline-block;
    margin-top: 3rem;
  }

  #contact-page .form-container
  {
    right: 10px;
    width: 50%;
  }

  #contact-page .contact-text
  {
    padding-left: 2%;
  }

  .ftr
  {
    flex-direction: column;
  }

  .contact .container-flex
  {
    flex-direction: column;
  }

  .contact .form-container
  {
    width: 80%;
  }

  .contact form
  {
    width: 100%;
  }

  .contact form input,
  .contact form select,
  .contact form textarea
  {
    width: 100%;
  }

  .packages .row
  {
    flex-direction: column;
  }

  .packages .row h4
  {
    padding-left: 5%;
  }

  .packages .box
  {
    margin-top: 3rem;
  }

  .clients-page h4
  {
    text-align: center;
  }

  .clients-page .row div
  {
    width: 50%;
  }
} 


@media screen and (max-width: 425px) 
{
  .navbar-header
  {
    display: none;
  }

  .clients-page .row div
  {
    width: 100%;
  }

  .about .container-flex:nth-child(2)
  {
    flex-direction: column;
  }

  .about .about-img img
  {
    width: 150%;
  }

  .contact-info .container-flex
  {
    padding-top: 1rem;
    flex-direction: column;
  }

  .contact-info .box
  {
    min-height: 5rem;
  }

  .carousel .carousel-inner
  {
    height: 25rem;
  }

  .carousel .carousel-inner .carousel-caption .content
  {
    top: 10rem;
  }

  #contact-page .contact-text
  {
    display: none;
  }

  .nav li
  {
    display: none;
  }
  
  .contact .form-container
  {
    width: 100%;
  }

  #contact-page .form-container
  {
    width: 100%;
    padding-left: 3%;
    filter: none;
  }

  .mobile-nav
  {
    display: block;
  }

  .menu-btn
  {
    display: block;
  }

  .contact .container-fluid
  {
    flex-direction: column;
  }

  .contact .contact-info
  {
    flex-direction: column;
  }

  .contact .contact-info .box
  {
    margin-top: 2rem;
  }

  .testimonials .container-fluid
  {
    flex-direction: column;
  }

  .carousel .slides .container-fluid .header-content
  {
    margin-left: 20%;
  }

  .testimonials .box .content img
  {
    margin-top: 3rem;
  }

  .dropmenu
  {
    background-color: var(--tertiary);
  }
}

@media screen and (max-width: 375px) 
{
  .nav-info
  {
    flex-direction: column;
  }

  .nav-info .social-mail
  {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .nav-info .social-icons
  {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .testimonials .container-fluid .content .box
  {
    width: 18rem;
  }

  .nav-info .social-mail p
  {
    left: 2.5rem;
  }

  .nav-info .social-mail i
  {
    left: 0.7rem;
  }

  .testimonials .box .content
  {
    margin-top: 4rem;
  }

  .testimonials
  {
    padding-bottom: 2rem;
  }

  .cores .core .content p
  {
    padding-right: 2rem;
  }
}