@media screen and (max-width: 2560px) and (min-width: 2000px)
{
    .navbar div
    {
        padding-left: 10%;
        padding-right: 10%;
    }

    .service-box .box
    {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    .box
    {
      margin-left: 5rem;
      margin-right: 5rem;
    }

    .contact .container-fluid
    {
      padding-left: 10%;
      padding-right: 10%;
    }

    .contact form
    {
      width: 80%;
    }

    .contact .contact-info .box
    {
      margin-left: 5%;
      margin-right: 5%;
    }

    .testimonials .controllers .left
    {
       left: 20%;
    }

    .testimonials .controllers .right
    {
       right: 20%;
    }

    .about .content
    {
      margin-left: 10%;
      margin-right: 10%;
    }

    .about .content p,
    .about .content h3
    {
      padding-right: 10%;
      padding-left: 10%;
    }
    
} 

@media screen and (max-width: 1440px) and (min-width: 1200px)
{
  .about .content p,
  .about .content h3
  {
    padding-left: 10%;
  }
  
}

@media screen and (max-width: 1440px) and (min-width: 1142px)
{
  .box
  {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (max-width: 768px)
{
  .service-box .row
  {
    flex-direction: column;
    margin-top: 0;
  }

  .service-box .box
  {
    display: inline-block;
    margin-top: 3rem;
  }

  .ftr
  {
    flex-direction: column;
  }

  .contact .form-container
  {
    width: 100%;
  }

  .packages .row
  {
    display: inline;
  }

  .packages .box
  {
    margin-top: 3rem;
  }
} 


@media screen and (max-width: 425px) 
{
  .nav li
  {
    display: none;
  }

  .mobile-nav
  {
    display: block;
  }

  .menu-btn
  {
    display: block;
  }

  .contact .container-fluid
  {
    flex-direction: column;
  }

  .contact .form-container
  {
    width: 90%;
  }

  .contact .contact-info
  {
    flex-direction: column;
  }

  .contact .contact-info .box
  {
    margin-top: 2rem;
  }

  .testimonials .box .content
  {
    flex-direction: column;
    padding-bottom: 4rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 375px) 
{
  .nav-info
  {
    flex-direction: column;
  }

  .nav-info .social-mail
  {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .nav-info .social-icons
  {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
  }

  .nav-info .social-mail p
  {
    left: 2.5rem;
  }

  .nav-info .social-mail i
  {
    left: 0.7rem;
  }

  .testimonials .box .content
  {
    margin-top: 4rem;
  }

  .testimonials
  {
    padding-bottom: 2rem;
  }
}