/* General Styling */

html
{
  width: 100%;
  overflow-x: hidden;
  caret-color: transparent;
  scroll-behavior: smooth;
}

body
{
  width: 100%;
  overflow-x: hidden;
}

:root
{
  --primary: #132d46;
  --primary-light: #ffff;
  --secondary: #0ec090;
  --gradient: linear-gradient(to right, #0ec090, #132d46);
}

ul
{
  list-style-type: none;
}

a
{
  text-decoration: line-through;
}

p
{
  font-weight: 500;
  color: var(--primary);
}

button
{
  background-color: var(--primary);
  border-width: 0;
  outline: none;
  color: var(--primary-light)
}

button:hover
{
  background-color: var(--secondary);
  transition: 0.5s;
}

/* Navbar */

.nav-info
{
  background-image: var(--gradient);
  justify-content: center;
}

.nav-info li
{
  background-color: var(--primary);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

.nav-info li:hover
{
  background-color: var(--primary-light);
}

.nav-info li:hover i
{
  color: var(--primary);
  transition: 0.5s;
}

.nav-info a
{
  color: var(--primary-light);
  text-decoration: none;
}

.nav-info .social-mail
{
  width: 50%;
  position: relative;
}

.nav-info .social-mail p
{
  color: #fff;
  right: 1rem;
  position: absolute;
}

.nav-info .social-mail i
{
  position: absolute;
  right: 13rem;
}

.nav-info .social-icons
{
  width: 50%;
}

.nav-info i
{
  color: var(--primary-light);
  font-size: 1rem;
}

nav
{
  background-color: var(--primary);
}

.navbar-header a
{
  color: #fff;
  font-weight: bold;
}

.nav a
{
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover
{
  color: var(--secondary);
  text-decoration: none;
}

.mobile-nav
{
  display: none;
  position: fixed;
  left: 0;
  width: 75%;
  height: 200%;
  background-color: #3bb777e7;
  z-index: 10;
  top: 0
}

.mobile-nav a
{
  font-weight: 500;
  color: var(--primary-light);
  text-decoration: none;
}

.mobile-nav li
{
  list-style-type: none;
}

.menu-btn
{
  display: none;
  position: absolute;
  right: 1rem;
}

.menu-btn i
{
  color: #fff;
  font-size: 1.5rem
}

.mobile-social-icons
{
  position: fixed;
}

.dropmenu
{
  position: absolute;
  background-color: var(--primary);
  border-radius: 4px;
  width: 12rem;
  z-index: 10;
}

.dropmenu a
{
  color: var(--primary-light);
  text-decoration: none;
  font-weight: 500;
}

.dropmenu a:hover
{
  color: var(--primary-light);
}

.dropmenu li
{
  padding: 0;
  width: 100%;
}

.dropmenu li:hover
{
  background-color: var(--secondary);
}

/* carousel */
.carousel
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
}

.carousel .slides img
{
  object-fit: cover;
  width: 100%;
  height: 30rem;
  position: relative;
}

.carousel .controllers
{
  position: absolute;
}

.carousel .controllers span
{
  position: absolute;
  color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .controllers .right
{
  right: 0;
}

.carousel .controllers span .counter
{
  background-color: #0000002a;
  width: 4rem;
  flex-direction: column;
}

.carousel .controllers span .counter .count
{
  width: 100%;
}

.carousel .controllers span .counter .count:hover
{
  background-color: #0000002a;
}

/* Services */
.service-box h3
{
  color: var(--primary);
}

.service-box h5,
.service-box p
{
  color: var(--secondary)
}

.service-box .box
{
  width: 18rem;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.service-box .box:hover
{
  background-color: var(--secondary);
  transition: 0.5s;
  transform: scale(1.05);
}

.service-box .box:hover h5,
.service-box .box:hover p
{
  color: #fff;
}

.service-box .row
{
  margin-top: 2rem;
  display: flex;
}

.service-box .box:hover
{
  border-color: var(--secondary);
  transition: 0.5s;
}

.service-img img
{
  width: 6rem;
}

/* contact */

.contact .row
{
  flex-direction: column;
}

.contact .container-fluid
{
  background-image: url(./images/cover1.png);
  background-size: cover;
}

.contact .form-container
{
  background-color: #132d468c;
  height: 100%;
  width: 50%;
  margin-top: 0;
}

.contact img
{
  width: 90%;
}

.contact form input,
.contact form select,
.contact form textarea
{
  background: none;
  border-width: 0;
  color: var(--primary-light);
  border-radius: 0;
  border-bottom: 2px var(--secondary) solid;
}

.contact form input:focus,
.contact form select:focus,
.contact form textarea:focus
{
  background: none;
  border: 0;
  color: var(--primary-light);
  border-radius: 0;
  border-bottom: 2px var(--secondary) solid;
  outline: none;
}

.contact form input::placeholder,
.contact form textarea::placeholder
{
  color:var(--primary-light);
}

.contact form .btn
{
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 500;
  width: 100%;
}

.contact form .btn:hover
{
  background-color: #66fdd5;
}

.contact .contact-info .box
{
  background-color: var(--primary);
  height: 16rem;
  width: 16rem;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact .contact-info .box i
{
  color: var(--secondary);
  font-size: 5rem;
}

.contact .contact-info h6,
.contact .contact-info p,
.contact h3
{
  color: #fff;
}

/* packages */
.packages h3,
.packages h5,
.packages h6
{
  color: var(--primary);
}

.packages .box
{
  width: 16rem;
  box-shadow: 5px 5px 5px 5px #4d4d4da8;
  position: relative;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}

.packages .box:hover
{
  transform: scale(1.1);
}

.packages .box i
{
  font-size: 3rem;
  color: var(--primary);
}

.packages .btn
{
  background-color: var(--secondary);
  color: var(--primary);
}

.packages .btn:hover
{
  background-color: #66fdd5;
}

/* clients */

.clients img
{
  width: 30%;
}

.clients h3
{
  color: var(--primary);
}

.clients marquee
{
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* testimonials */

.testimonials
{
  position: relative;
  background-image: url(./images/cover3.png);
  background-size: cover;
}

.testimonials h3
{
  color: var(--secondary);
}

.testimonials .box
{
  width: 50rem;
  height: 22rem;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
}

.testimonials .box .bg
{
  width: 100%;
  height: 100%;
}

.testimonials .box .bg img
{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.testimonials .controllers
{
  position: absolute;
  height: 100%;
  width: 100%;
}

.testimonials .controllers i
{
  color: var(--secondary);
  font-size: 2rem;
}

.testimonials .controllers .right
{
  position: absolute;
  right: 1rem;
}

.testimonials .controllers .left
{
  position: absolute;
  left: 1rem;
}

.testimonials .box .content
{
  position: absolute;
  z-index: 10;
}

.testimonials .box .content i
{
  color: var(--secondary);
  font-size: 2rem;
}

.testimonials .box .content i:hover
{
  color: var(--primary-light);
  transform: scale(1.2);
  transition: 0.5s;
}

.testimonials .box .content p
{
  color: var(--secondary);
}

.testimonials .box .content img
{
  width: 25%;
  border-radius: 100%;
  border: 3px #ffff solid;
}

/* about */

.about .content img
{
  width: 30rem;
}

.about .main-header
{
  background-image: url(./images/cover5.png);
  background-size: cover;
  height: 18rem;
}

.about .main-header .container-fluid
{
  background-color: #0000004d;
}

.about .main-header .container-fluid h3
{
  color: #fff;
}

.about h3
{
  color: var(--primary);
}

.cores
{
  background-color: var(--primary);
}

.cores .tabs li
{
  color: var(--secondary);
  font-weight: 500;
}

.cores .tabs li:active
{
  border-bottom: 2px var(--secondary) solid;
}

.cores .core .content
{
  padding-left: 2rem;
}

.cores .core img
{
  width: 20rem;
}

/* footer */
.ftr{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  background-color: var(--primary);
}

.ftr h3
{
 color: var(--secondary);
}

.ftr a
{
  text-decoration: none;
}

.ftr a:hover
{
  transform: scale(1.1);
  transition: 0.5s;
}

.box
{
  width: 300px;
  padding: 20px;
}

.b-2{
  width: 320px;
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

a{
  text-decoration:  none;
  color: white;
}

.b-1 p{
  margin-top: 0.9rem;
  line-height: 1.5;
}

.ftr p,
.ftr li{
  color: white;
}

.b-3 li{
  text-transform: uppercase;
}

li{
  /* font-size: 1.2rem; */
  list-style: none;
  margin-top: 0.9rem;
}

.icons{
  margin-top: 4px;
  display: flex;
  gap: 15px;
}

.icons a i{
  color: var(--primary);
  font-size: 1.5rem;
}

.icons a{
  border-radius: 100%;
  background-color: var(--secondary);
  height: 2rem;
  width: 2rem;
}

.item-b-2{
  display: flex;
  gap: 10px;
}  

.item-b-2 i
{
  width: 16px;
  height: 16px;
  padding: 0.5px;
  color: black;
  margin-top: 18px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
} 

.item-b-4{
  display: flex;
}

.item-b-4 i{
  font-weight: bold;
  margin-top: 2rem;
}

/* Keyframes */

@keyframes slide-in {

  from
  {
      left: -40rem;
  }

  to
  {
      left: 0rem;
  }   
}