/* General Styling */

html
{
  width: 100%;
  font-size: medium;
  overflow-x: hidden;
  caret-color: transparent;
  scroll-behavior: smooth;
}

body
{
  width: 100%;
  overflow-x: hidden;
}

:root
{
  --primary: #d12627;
  --secondary: #ffff;
  --tertiary: #181818;
  --tertiary-light: #424141;
  --gradient: linear-gradient(to right, #cf1314, #ffff);
}

ul
{
  list-style-type: none;
}

a
{
  text-decoration: line-through;
}

p
{
  font-weight: 500;
  color: var(--tertiary);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3
{
  font-weight: 700;
}

button
{
  background-color: var(--primary);
  border-width: 0;
  outline: none;
  color: var(--primary-light)
}

button:hover
{
  background-color: var(--secondary);
  transition: 0.5s;
}

/* Navbar */

.nav-info
{
  background-color: var(--primary);
  justify-content: center;
}

.nav-info li
{
  background-color: var(--tertiary);
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
}

.nav-info li:hover
{
  background-color: var(--secondary);
}

.nav-info li:hover i
{
  color: var(--primary);
  transition: 0.5s;
}

.nav-info a
{
  color: var(--primary-light);
  text-decoration: none;
}

.nav-info .social-mail
{
  width: 50%;
  position: relative;
}

.nav-info .social-mail p
{
  color: #fff;
  right: 1rem;
  position: absolute;
}

.nav-info .social-mail i
{
  position: absolute;
  right: 14rem;
}

.nav-info .social-icons
{
  width: 50%;
}

.nav-info i
{
  color: var(--secondary);
  font-size: 1rem;
}

nav
{
  background-color: var(--secondary);
}

nav .logo
{
  width: 4rem;
}

.navbar-header
{
  position: absolute;
}

.navbar-header a
{
  color: var(--primary);
  font-weight: bold;
}

.nav a
{
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover
{
  color: var(--tertiary);
  text-decoration: none;
}

.mobile-nav
{
  display: none;
  position: fixed;
  overflow-y: scroll;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: var(--secondary);
  z-index: 10;
  top: 0
}

.mobile-nav a
{
  font-weight: 500;
  color: var(--primary);
  text-decoration: none;
}

.mobile-nav li
{
  list-style-type: none;
}

.menu-btn
{
  display: none;
  position: absolute;
  right: 1rem;
}

.menu-btn i
{
  color: var(--primary);
  font-size: 1.5rem
}

.mobile-social-icons
{
  position: fixed;
}

.dropdown
{
  position: relative;
}

.dropmenu
{
  position: absolute;
  background-color: var(--primary);
  border-radius: 4px;
  width: max-content;
  left: -4rem;
  z-index: 10;
}

.dropmenu li
{
  width: 100%;
}

.dropmenu a
{
  color: var(--secondary);
  text-decoration: none;
  font-weight: 500;
  width: 100%;
}

.dropmenu li:hover a
{
  color: var(--primary-light);
}

.dropmenu li
{
  padding: 0;
  width: 100%;
}

.dropmenu li:hover
{
  background-color: var(--secondary);
}

.carousel .carousel-inner
{
  height: 35rem;
}

.carousel .carousel-inner .item
{
  height: 100%;
}

.carousel .carousel-inner img
{
  width: 100%;
  height: 100%;
}

.carousel .carousel-inner .carousel-caption
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000008e;
}

.carousel .carousel-inner .carousel-caption .content
{
  top: 15rem;
  position: absolute;
  padding-left: 15%;
  padding-right: 15%;
  text-align: left;
}

.carousel .carousel-inner .carousel-caption .content .btn
{
  background-color: var(--primary);
}

.carousel .carousel-inner .carousel-caption .content .btn a
{
  color: var(--secondary);
  text-decoration: none;
}


.carousel .carousel-inner .carousel-caption .content .btn:hover
{
  background-color: var(--tertiary);
}

/* Services */
.service-box
{
  background-color: var(--secondary);
}

.service-box h3
{
  color: var(--primary);
  font-weight: 700;
}

.service-box h5
{
  color: var(--primary);
}

.service-box p
{
  color: var(--tertiary)
}

.service-box .box
{
  width: 18rem;
  min-height: 19rem;
  max-height: 19rem;
  flex-direction: column;
  box-shadow: 5px 5px 5px 3px #5e5d5dd2;
  margin-left: 1rem;
  margin-right: 1rem;
}

.service-box .box:hover
{
  background-color: var(--tertiary);
  transition: 0.5s;
  transform: scale(1.05);
}

.service-box .box:hover p
{
  color: var(--secondary);
}

.service-box .row
{
  margin-top: 2rem;
  display: flex;
}

.service-box .box:hover
{
  border-color: var(--secondary);
  transition: 0.5s;
}

.service-img img
{
  width: 5rem;
}

.header {
  background-image: url("./images/bed-bug-bg.jpg");
  height: 400px;
}

.header-cover {
  background-color: rgba(0, 0, 0, 0.678);
  height: 100%;
  width: 100%;
}

.header-heading h1 {
  font-weight: 700;
}

.heading-underline {
  height: 8px;
  background-color: var(--secondary);
}

.blog-post h2 {
  color: var(--primary);
}
.blog-post h3 {
  color: var(--primary);
}
.blog-post h4 {
  color: var(--primary);
}

.services-list {
  list-style: none;
  padding: 0;
}

article img
{
  filter: drop-shadow(3px 3px 3px gray);
}

.services-list li::before {
  content: "\2713";
  color: var(--primary);
  font-weight: bold;
  margin: 0px 20px;
}

.services-list li p {
  display: inline-block;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container img {
  border: 1px solid var(--heading-services);
  border-radius: 10px;
  height: 200px;
  width: 240px;
  margin: 0 10px;
  border: 1px #181818 solid;
}

.image-container img:hover
{
  filter: drop-shadow(8px 8px 5px gray);
  transition:  0.5s ease-in-out;
  transform: scale(1.05);
}

.taskbar {
  background-color: var(--tertiary);
  padding-top: 10px;
  position: sticky;
  bottom: 0;
  height: fit-content;
  right: 0;
  z-index: 10;

}

.taskbar-heading {
  color: var(--secondary);
  margin: 20px;
}

.taskbar-links {
  text-decoration: none;
  list-style: none;
  color: var(--secondary);
  border-bottom: 2px solid var(--secondary);
  width: 100%;
}

.taskbar-links a {
  text-decoration: none;
  color: var(--primary-light);
  margin: 20px 0;
  font-size: 18px;
}

.taskbar-links-active {
  margin: 10px 0;
  text-decoration: none;
  list-style: none;
  color: var(--primary);
  padding: 0px 10px;
  border-bottom: 2px solid var(--secondary);
  background-color: var(--secondary);
  width: 70%;
}

.taskbar-links-active a {
  text-decoration: none;
  color: var(--primary-light);
  margin: 20px 0;
  font-size: 18px;
}

.taskbar-links:hover {
  background-color: var(--primary);
  font-weight: 500;
}

.taskbar-links-active:hover {
  font-weight: 500;
}

#contact-heading {
  color: var(--heading-services);
}

/* contact */
.contact
{
  background-image: url(./images/cover1.png);
  background-size: cover;
  height: 40rem;
}

.contact div h3
{
  color: var(--secondary);
  font-weight: 700;
}

.contact img
{
  width: 90%;
}

.contact form input,
.contact form select
{
  height: 2.5rem;
}

.contact form input,
.contact form select,
.contact form textarea
{
  width: 30rem;
  background: var(--secondary);
  border-width: 0;
  color: var(--tertiary);
  border-radius: 5px;
  border-bottom: 2px var(--tertiary) solid;
}

.contact form input:focus,
.contact form select:focus,
.contact form textarea:focus
{
  background: var(--secondary);
  border: 0;
  color: var(--tertiary);
  border-radius: 0;
  border-bottom: 2px var(--tertiary) solid;
  outline: none;
}

.contact form option
{
  color: var(--tertiary);
}

.contact form input::placeholder,
.contact form textarea::placeholder
{
  color:var(--tertiary);
}

.contact form .btn
{
  background-color: var(--tertiary);
  color: var(--secondary);
  font-weight: 500;
  width: 10rem;
}

.contact form .btn:hover
{
  background-color: var(--secondary);
  color: var(--primary);
}

.contact-info
{
  background-color: var(--primary);
}

.contact-info .box
{
  width: 100%;
  min-height: 10rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info .box i
{
  color: var(--secondary);
  font-size: 2rem;
}

.contact-info .box:hover
{
  transform: scale(1.1);
}

.contact h3
{
  color: var(--tertiary);
}

.contact-info h6,
.contact-info p
{
  color: var(--secondary);
}

.contact-info .container-flex
{
  width: 150%;
}

/* contact page */

#contact-page 
{
  background-image: none;
  position: relative;
}

#contact-page h4,
#contact-page h3,
#contact-page p
{
  color: var(--secondary);
}

#contact-page .contact-text i
{
  color: var(--secondary);
  font-size: 2rem;
}

#contact-page .contact-text
{
  background-color: var(--primary);
  height: fit-content;
}


#contact-page .form-container
{
  position: absolute;
  flex-direction: column;
  right: 5%;
  background-color: var(--secondary);
  filter: drop-shadow(8px 8px 12px gray);
  z-index: 10;
}

#contact-page .form-container h3
{
  color: var(--tertiary);
}

#contact-page .form-container form
{
  position: relative;
}

#contact-page  form .btn
{
  background-color: var(--primary);
}

#contact-page  form .btn:hover
{
  background-color: var(--tertiary-light);
  color: var(--secondary);
}

/* clients-page */

.clients-page
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.clients-page img
{
  width: 20rem;
}

.clients-page img:hover
{
  transform: scale(1.1);
  transition: 1s;
}

/* packages */
.packages h3
{
  color: var(--primary);
  font-weight: 700;
}

.packages h5,
.packages h6
{
  color: var(--tertiary);
}

.packages .box
{
  width: 16rem;
  box-shadow: 5px 5px 5px 5px #4d4d4da8;
  position: relative;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}

#package-row:hover
{
  transform: scale(1.1);
  background-color: var(--primary);
}

#package-row:hover i
{
  color: var(--secondary);
}


.packages .box i
{
  font-size: 3rem;
  color: var(--primary);
}

.packages .box:hover .btn
{
  background-color: var(--tertiary);
  color: var(--secondary);
}

.packages .btn
{
  background-color: var(--primary);
  color: var(--secondary);
}

.packages .box:hover  .btn:hover
{
  background-color: var(--secondary);
  color: var(--tertiary);
}

/* clients */

.clients img
{
  width: 30%;
}

.clients h3
{
  color: var(--primary);
}

.clients marquee
{
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* testimonials */

.testimonials
{
  position: relative;
  background-size: cover;
}

.testimonials h3
{
  color: var(--primary);
  font-weight: 700;
}

.testimonials h4
{
  color: var(--primary);
  filter: drop-shadow(5px 5px 3px gray);
}

.testimonials h5
{
  filter: drop-shadow(5px 5px 3px gray);
  padding-left: 3rem;
}

.testimonials .box
{
  width: 22rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--secondary);
  box-shadow: 5px 5px 5px 3px #0000004d;
}

.testimonials .box h4
{
  color: var(--tertiary);
}

.testimonials .box:nth-child(2)
{
  transform: scale(1.04);
}

.testimonials .box .test-img
{
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.testimonials .indicators i
{
  color: var(--tertiary);
}

.testimonials .content
{
  flex-direction: column;
}

.testimonials .box .test-img img
{
  border-radius: 100%;
  width: 5rem;
}

/* about */

.about img
{
  width: 100%;
  height: 100%;
}

.about .about-img
{
  min-height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

.about .content h3
{
  color: var(--primary);
}

.about .content p
{
  color: var(--tertiary);
}

.about .box 
{
  width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  margin: 0;
}

.about .box .inner-content
{
  flex-direction: column;
}

.about .box i
{
  font-size: 2rem;
}

.about .box:nth-child(1)
{
  background-color: var(--primary);
}

.about .box:nth-child(2)
{
  background-color: #eb7e7e;
}

.about .box:nth-child(3)
{
  background-color: #830202;
}

.about .box:nth-child(1)
{
  background-color: var(--primary);
}

.about .box i,
.about .box p
{
  color: var(--secondary);
}


/* footer */
.ftr{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  background-color: var(--tertiary);
}

.ftr h3
{
 color: var(--secondary);
}

.ftr a
{
  text-decoration: none;
}

.ftr a:hover
{
  transform: scale(1.1);
  transition: 0.5s;
}

.box
{
  width: 300px;
  padding: 20px;
}

.b-2{
  width: 320px;
}

.b-2 a:hover 
{
  color: var(--secondary);
}

.b-2 a:hover li,
.b-3 a:hover li
{
  font-weight: 500;
  color: var(--secondary);
}

.b-2 a:hover i,
.b-3 a:hover i
{
  background-color: var(--primary);
}

h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

li a{
  text-decoration:  none;
  color: white;
}

.b-1 p{
  margin-top: 0.9rem;
  line-height: 1.5;
}


.ftr p,
.ftr li{
  color: white;
}

.b-3 li{
  text-transform: uppercase;
}

li
{
  list-style: none;
  margin-top: 0.9rem;
}

.icons{
  margin-top: 4px;
  display: flex;
  gap: 15px;
}

.icons a i{
  color: var(--secondary);
  font-size: 1.5rem;
}

.icons a{
  border-radius: 100%;
  background-color: var(--primary);
  height: 2rem;
  width: 2rem;
}

.item-b-2{
  display: flex;
  gap: 10px;
}  

.item-b-2 i
{
  width: 16px;
  height: 16px;
  padding: 0.5px;
  color: black;
  margin-top: 18px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
} 

.item-b-2 li:hover i
{
  background-color: var(--primary);
}

.item-b-4{
  display: flex;
}

.item-b-4 i{
  font-weight: bold;
  margin-top: 2rem;
}

/* Keyframes */

@keyframes slide-in {

  from
  {
      right: -40rem;
  }

  to
  {
      right: 0rem;
  }   
}

@keyframes slide-out {

  from
  {
      right: 0rem;
  }

  to
  {
      right: -40rem;
  }   
}